/* My first CSS */

*{
margin: 0;
pading: 0;
}
#header {
background-color: purple;
color: white;
}
#content {
background-color: white;
color: black;
}
h1 {
font-size: 30px;
font-style: cambria;
line-height: 36px;
margin-left: 20px;
margin-bottom: 18px;
}
h2 {
font-size: 18px;
font-style: cambria;
line-height: 18px;
margin-left: 20px;
margin-bottom: 18px;
}
p {
font-style: calibri;
font-size: 16px;
line-height: 18px;
margin-bottom: 18px;
margin-left: 30px;
margin-right: 30px;
}




